/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,500&display=swap');

/* Asterick wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Playfair Display', sans-serif;
}

/* Header */
header {
    background-color: #6f79c4f7;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Playfair Display', sans-serif;
    letter-spacing: 2px;
    color: #ffffff;
    font-size: 1.5rem;
}

#menu {
    text-transform: uppercase;
    list-style: none;
}

#menu > li {
    margin-bottom: 1em;
}

.current {
    border-bottom: 1px solid #ffffff;
}

/* Navbar styles */
nav {
    position: absolute;
    background-color: #6f79c4f7;
    width: 100%;
    left: 0;
    padding: 5px 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    size: 1rem;
    color: #ffffff;
}

nav > ul {
    color: #ffffff;
}

/* Main */
main {
    background-color: lightblue;
    /* make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 33px;
}

.photos img {
    width: 100%;
}

/* Footer */
footer {
    background-color: orange;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {

}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

}

/* Media query: laptops and larger (992px and up) */
@media screen and (min-width: 992px) {

}

/* Media query: desktops screens 1200px and up */
@media screen and (min-width: 1200px) {

}