/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Playfair+Display:ital,wght@0,500;1,500&display=swap');

/* Asterick wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'EB Garamond', sans-serif;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Playfair Display', sans-serif;
    letter-spacing: 2px;
    color: #252525;
    font-size: 1.5rem;
}

#menu {
    text-transform: uppercase;
    list-style: none;
}

#menu > li {
    margin-bottom: 1em;
}

.current {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main */
main {
    background-color: lightblue;
    /* make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 43px;
}

/* Footer */
footer {
    background-color: orange;
}